    body{
        background-color: #F2FFFC;
        text-decoration:none;
        text-decoration: none;
        
    }
        
 main   div {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}
    nav ul li a {
        text-decoration: none;
    }
     blockquote{

         background:#D3DDDA;
            text-decoration: none;
            padding: 20px;
            border: 10px solid #C2CCCA;
            width: 250px;
            margin: 0;
            box-sizing: border-box;
         
        }

     footer {
        background-color: #000;
        color: white;
         padding: 20px;
    }

     aside {
        background-color: #3C1D3D;
        color: #F2FFFC;
          box-sizing: border-box;
         margin: 0;
         width: 250px;
         padding: 10px;
         box-sizing: border-box;
        
    margin-left: auto;
    margin-right: auto;
         
    }

    aside a {
        color: inherit;
        font-family: "Open Sans Condensed", sans-serif;
        text-decoration: none;
    }

        a{
            text-decoration: none;
        }

    main h1{
        font-family: "Open Sans Condensed";
        color:white;
        text-align: center;
        background:#851944;
        text-decoration: none;
        padding: 25px;
        margin: 0;
        
        border-bottom: 10px solid black;
        
        margin: 0;
        box-sizing: border-box;
    }
    h2{
        font-family: "Open Sans Condensed";
        text-decoration: none;

    }
    p {

        text-align: justify;
        font-family: "Crimson Text";
        text-decoration: none;
        line-height: 20px;


    }
        a{
            text-decoration: none;
        }

