body{
    background-color: #F2FFFC;
}

h1{
    font-family: "Open Sans Condensed";
    color:white;
    text-align: center;
    background:#851944;
}
h2{
    font-family: "Open Sans Condensed";
   
}
p{

    text-align: justify;
    font-family: "Crimson Text";
    

}